@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i|Sintony');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
/* CSS Document */ 

/* ==================================================
	웹 폰트
================================================== */
html, body {
	font-size-adjust:none; 
	-webkit-font-size-adjust:none;
	-o-font-size-adjust:none;
	-moz-font-size-adjust:none;
}
.rale {font-family:'Raleway','Noto Sans KR', sans-serif; font-weight:400;}
.rale-bold {font-family:'Raleway','Noto Sans KR', sans-serif; font-weight:700;}
.rale-exbold {font-family:'Raleway', 'Noto Sans KR', sans-serif; font-weight:800;}

/* ==================================================
	반응형
================================================== */



/* ==================================================
	공통레이아웃
================================================== */
#header, #footer {width:100%;}
.size {width:100%; max-width:1120px; height:auto; margin:0 auto; box-sizing:border-box; /*padding:0 20px; */}
.inner {width:100%; box-sizing:border-box; }
.wrapper {width:100%; position:relative; overflow:hidden; margin:0 auto; min-height:600px;}
html.on{overflow: hidden;}
/* ==================================================
	header
================================================== */


#header{position: fixed; top: 0;/* padding-top: 45px; */left: 0; z-index: 13; padding: 45px 0 20px; box-sizing: border-box; }
#header .size{max-width: 1200px; width: 100%; position: relative; transition: all .6s;  -webkit-transition: all .6s;}
#header .size .logo{position: absolute; left: 0; bottom: 0; }
#header .size .logo a{display: block; background: url('/img/main_logo.png') no-repeat center center; width: 150px; height: 30px; background-size: contain;}
#header .size .all_menu{position: absolute; right: 0; bottom: 0;  display: none;}
#header .size .all_menu a{display: block; background: url('/img/main_all.png') no-repeat center center; width: 28px; height: 25px; background-size: contain;}
#header .size .gnb .size{max-width: 590px; width: 100%;}
#header .size .gnb ul > li{float: left;}
/*#header .size .gnb ul > li:nth-child(1), #header .size .gnb ul > li:nth-child(2), #header .size .gnb ul > li:nth-child(3){width: 24%;}
#header .size .gnb ul > li:nth-child(4), #header .size .gnb ul > li:nth-child(5){width: 14%;}*/
#header .size .gnb ul > li{width: 25%;}
#header .size .gnb ul > li a{position: relative; display: block; text-align: center; font-size: 18px; font-weight: bold; letter-spacing: 1px; color: #fff; font-family: 'Titillium Web', sans-serif; text-transform: uppercase;}
#header .size .gnb ul > li a span{position: relative;}
#header .size .gnb ul > li a span:after{position: absolute; content: ''; bottom: 0; left: 0; width: 0; height: 1px; background: rgba(255,255,255,0.4); transition: all .4s;  -webkit-transition: all .4s;}
#header .size .gnb ul > li a:hover span:after{width: 100%;}


#header.on{background: #fff; height: 80px; padding-top: 0; border-bottom: 1px solid #ecf0f5; padding: 0 20px;  transition: all .4s;  -webkit-transition: all .4s; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;}
#header.on .size{height: 100%;}
#header.on .size .logo a{background: url('/img/all_menu_logo_on.png') no-repeat center center; }
#header.on .size .logo{top: 50%; margin-top: -15px;}
#header.on .size .all_menu{top: 50%; margin-top: -12.5px;}
#header.on .size .all_menu a{background: url('/img/main_all_on.png') no-repeat center center; background-size: contain;}

#header .size .language a.on{/*background: url('/img/lan_more_over.png') no-repeat 90% center;*/ }

#header.on .size .gnb{height: 100%;}
#header.on .size .gnb .depth1{height: 100%;}
#header.on .size .gnb .depth1 > li{height: 100%;}
#header.on .size .gnb .depth1 > li a{/*height: 100%; line-height: 80px;*/ padding: 27px 0; box-sizing: border-box; color: #333539; }
#header.on .size .language{top: 25px; margin-top: 0;}
#header.on .size .language a{color: #333539; }
#header.on .size .language > a{/* background: url('/img/vision_down.png') no-repeat 90% center; background-size: 10px;*/ border-bottom: 1px solid #333539;  }
#header.on .size .language > a.on{/*background: url('/img/vision_up.png') no-repeat 90% center; background-size: 10px;*/}
#header.on .size .language.over{top: 50%; margin-top: -30px;}
.main .language i.down{display: none;}
.main.on .language i.down{display: block;}
.main.on .language .top{display: none;}
.main .language i.top{display: block;}

.language {position: absolute; top: 0; right: 0; height: 30px;  overflow: hidden;transition: all .4s;  -webkit-transition: all .4s; }  
.language a{padding-left: 5px; box-sizing: border-box; display: block; color: #ffffff; text-align: left; font-size: 14px; line-height: 30px; font-weight: bold; width: 60px; height: 30px;    /*transition: all .4s;  -webkit-transition: all .4s; */ position: relative;}
.language > a{border-bottom: 1px solid rgba(255,255,255,0.4);/* background: url('/img/lan_more.png') no-repeat 90% center;*/ }
.language i{position: absolute; line-height: 30px; right: 5px; top: 0;}
.language > a.on img{-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.language a img{margin-left: 10px;  transition: all .4s;  -webkit-transition: all .4s;}



.table{display: table;}
.table-cell{display: table-cell; vertical-align: middle;}

.menu_all{position: fixed; top: -200%; left: 0; width: 100%; height: 100%; z-index: 15;}
.menu_all .inner{background: #333539; height: 100%;}
.menu_all .inner .size{max-width: 1800px; position: relative; height: 100%;}
.menu_all .inner .in_size{max-width: 1200px; margin: 0 auto; height: 100%; /*padding: 0 20px;*/ box-sizing: border-box;}
.menu_all .inner .all_close{position: absolute; right: 0; margin-top: 40px; background: url('/img/all_close.png') no-repeat center 8px;  padding-top: 40px; width: 50px;  color: #fff; font-size: 12px; font-weight: 400; text-align: center; display: block;}
.menu_all .inner .tb{height: 100%;}
.menu_all .inner .tb .info .menu{float: left; width: 60%; }
.menu_all .inner .tb .info .menu .depth2 > li{float: left; width: 22%; margin-left: 1%;}
.menu_all .inner .tb .info .menu .depth2 > li:first-child{width: 30%;}
.menu_all .inner .tb .info .menu .depth2 > li > p{font-size: 30px; font-weight: bold; letter-spacing: 1px; text-align: left; color: #fff; height: 100px; line-height: 100px; font-family: 'Titillium Web', sans-serif; text-transform: uppercase; }
.menu_all .inner .tb .info .menu .depth2 > li > a{display: block; font-size: 16px; font-weight: 100; color: #fff; height: 100px; line-height: 100px;}
.menu_all .inner .tb .info .menu .depth2 {border-top: 1px solid rgba(255,255,255,0.1);}
.menu_all .inner .tb .info .menu > ul > li:first-child .depth2{border-top: 0;}

.menu_all .inner .tb .info .com{float: left; width: 40%; }
.menu_all .inner .tb .info .com .inner{padding-left: 250px; box-sizing: border-box;}
.menu_all .inner .tb .info .com .inner h1{padding-bottom: 45px;}
.menu_all .inner .tb .info .com .inner p{font-size: 16px; line-height: 22px; color: rgba(255,255,255,0.8); font-weight: 300; text-align: left; word-break: keep-all;}
.menu_all .inner .tb .info .com .inner .info{padding: 45px 0 50px; box-sizing: border-box;}
.menu_all .inner .tb .info .com .inner .info > p b{font-weight: bold;}
.menu_all .inner .tb .info .com .inner .sns a{display: inline-block; width: 45px; height: 50px; line-height: 50px; text-align: center;}
.menu_all .inner .in_size.mo{display: none;}




/* ==================================================
	footer
================================================== */
#footer .inner{padding: 40px 20px 40px; box-sizing: border-box; background: #26282c;}


#footer .inner .size{max-width: 1200px; margin: 0 auto; position: relative; background:  url('/img/footer_logo_new.png') no-repeat left top;}
#footer .inner .size .info {padding-left: 125px; transition: all .4s;  -webkit-transition: all .4s;  display: inline-block;}
#footer .inner .size .info p{color: rgba(255,255,255,0.8);  text-align: left; display: block; padding-top: 5px; }
#footer .inner .size .info p:first-child{font-weight: 500;  font-size: 14px; padding-bottom: 5px; padding-top: 0;}
#footer .inner .size .info p em{padding-left: 15px;}
#footer .inner .size .info p.copy{color: rgba(255,255,255,0.4); font-size: 12px; font-weight: 300;}
#footer .inner .size .info p span:first-child{padding-left: 0;}
#footer .inner .size .info.sns{padding-top: 0; position: absolute; right: 0 ; top: 0;}
#footer .inner .size .info.sns .sns_wrap{ padding-bottom: 18px; text-align: right;}
#footer .inner .size .info.sns .sns_wrap a{display: inline-block; width: 50px; height: 50px; text-align: center; line-height: 50px;}
#footer .inner .size .info.sns .copy{text-align: right; font-size: 13px; font-weight: 300; color: #26282c; line-height: 20px;}
#footer .info .fam_site{width: 160px; height: 41px; /*overflow: hidden;*/ position: relative;}
#footer .info .fam_site ul{position: absolute; bottom: 41px; width: 100%; display: none; border: 1px solid rgba(255,255,255,0.1); border-bottom:none; /*box-shadow: 0px 0px 10px rgba(255,255,255,0.1);*/}
#footer .info .fam_site ul li a{background: #26282c; padding: 0 10px; box-sizing: border-box;}

#footer .info .fam_site a{font-size: 14px; color: #fff; line-height: 40px; position: relative; box-sizing: border-box; text-align: left; display: block; font-family: 'Titillium Web', sans-serif; padding-left: 5px; }
#footer .info .fam_site > a{border-bottom: 1px solid rgba(255,255,255,0.4); font-weight: bold; letter-spacing:1px;}
#footer .info .fam_site a img{position: absolute; top : 50%; margin-top: -3px; right: 5px;margin-left: 10px;  transition: all .4s;  -webkit-transition: all .4s; padding-bottom: 3px;   -ms-transform: rotate(180deg);  -webkit-transform: rotate(180deg);   transform: rotate(180deg);}
#footer .info .fam_site a.on{border-bottom: 0; border-top:  1px solid rgba(255,255,255,0.4);}
/*#footer .info .fam_site a.on img{ -ms-transform: rotate(0deg);  -webkit-transform: rotate(0deg);  transform: rotate(0deg);}*/

/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}


.gnb li a {transition:all .4s ease; -webkit-transition:all .4s ease; -ms-transition:all .4s ease; -moz-transition:all .4s ease; -o-transition:all .4s ease;}


input[type=button] {cursor:pointer !important;}
.cp{cursor:pointer !important;}



.wid10{width:10%;}
.wid20{width:20%;}
.wid30{width:30%;}
.wid40{width:40%;}
.wid50{width:50%;}
.wid60{width:60%;}
.wid70{width:70%;}
.wid80{width:80%;}
.wid90{width:90%;}
.wid100 {width:100%;}

.max100 {max-width:100px;}
.max150 {max-width:150px;}
.max200 {max-width:200px;}
.max250 {max-width:250px;}
.max300 {max-width:300px;}
.max350 {max-width:350px;}
.max400 {max-width:400px;}
.max450 {max-width:450px;}
.max500 {max-width:500px;}
.max550 {max-width:550px;}
.max600 {max-width:600px;}
.max650 {max-width:650px;}
.max700 {max-width:700px;}
.max750 {max-width:750px;}
.max800 {max-width:800px;}
.max850 {max-width:850px;}
.max900 {max-width:900px;}
.max950 {max-width:950px;}
.max1000 {max-width:1000px;}

.mt0 {margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

.mb0 {margin-bottom:0px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}

.ml0 {margin-left:0px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}

.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}


.auto {margin-left:auto !important; margin-right:auto !important;}
.bno{border:none !important;}
.blind{position:absolute; top:-999999px; width:0; height:0; font-size:0; overflow:hidden;}
.clear:after {clear:both;content:'';display:block;}
.hidden {text-indent:-9999px; width:0px; height:0px; line-height:0px; font-size:0px; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); overflow:hidden; visibility:hidden;}


.fl_l{float:left !important;}
.fl_r{float:right !important;}
.txt_l{text-align:left !important;}
.txt_c{text-align:center !important;}
.txt_r{text-align:right !important;}
.ver_t{vertical-align:top !important;}
.txt_b{font-weight:bold !important;}
.txt_ul{text-decoration:underline !important;}

.wbreak{word-break:break-all !important;}

.tb {display:table; width:100%; height:100%; }
.tbc {display:table-cell; vertical-align:middle; width:100%; }
/* Position */

.Abs {position:absolute;}
.Fix {position:fixed;}
.Abs_lt {position:absolute; top:0; left:0;}
.Abs_rt {position:absolute; top:0; right:0; }
.Abs_lb {position:absolute; bottom:0; left:0; }
.Abs_rb {position:absolute; bottom:0; right:0; }
.Abs_cc {position:absolute; left:50%; top:50%; }
.Abs_lc {position:absolute; left:0; top:50%;}
.Abs_rc {position:absolute; right:0; top:50%; }
.Fix_lt {position:fixed; top:0; left:0; }
.Fix_rt {position:fixed; top:0; right:0; }
.Fix_lb {position:fixed; bottom:0; left:0; }
.Fix_rb {position:fixed; bottom:0; right:0; }
.Fix_cc {position:fixed; left:50%; top:50%; }
.Fix_lc {position:fixed; left:0; top:50%;}
.Fix_rc {position:fixed; right:0; top:50%; }


/* Font */

.ft12 {font-size:12px !important;}
.ft13 {font-size:13px !important;}
.ft14 {font-size:14px !important;}
.ft15 {font-size:15px !important;}
.ft16 {font-size:16px !important;}
.ft17 {font-size:17px !important;}
.ft18 {font-size:18px !important;}
.ft19 {font-size:19px !important;}
.ft20 {font-size:20px !important;}
.ft21 {font-size:21px !important;}
.ft22 {font-size:22px !important;}
.ft23 {font-size:23px !important;}
.ft24 {font-size:24px !important;}
.ft25 {font-size:25px !important;}
.ft26 {font-size:26px !important;}
.ft27 {font-size:27px !important;}
.ft28 {font-size:28px !important;}
.ft29 {font-size:29px !important;}
.ft30 {font-size:30px !important;}
.ft31 {font-size:31px !important;}
.ft32 {font-size:32px !important;}
.ft65 {font-size:65px !important; letter-spacing:-4px; line-height:60px;}
/* 체크박스 */

.Custom_chk { position:relative;}
.Custom_chk input[type="checkbox"]{display:none;}
.Custom_chk label {display:inline-block; position:relative; padding-left:25px; cursor:pointer; color:#353839;}
.Custom_chk label:before {position:absolute; left:0; top:0; font-size:14px; color:#353839; width:20px; height:20px; line-height:19px; border:1px solid #d1d1d1; clear:both; content:''; display:block; box-sizing:border-box;}
.Custom_chk input[type="checkbox"]:checked + label:before {content:'\2714';}


/* 라디오 버튼 */
.radio_box label{font-size:14px;color:#666}
.radio_box label + label{margin:0 0 0 24px;}


/* 체크 박스 */
.check_box label{font-size:14px;color:#666}
.check_box label + label{margin:0 0 0 24px;}

/* input type="file"*/
.fileBox{overflow:hidden;}
.fileBox .inputBox{float:left;}
.fileBox input[type="text"]{float:left;overflow:hidden;box-sizing:border-box;height:32px;padding:8px 10px;border:1px solid #d1d1d1;font-size:14px;line-height:1;letter-spacing:-1px;color:#999;background:#fafafa;}
.fileBox .fileBtn{float:left;margin-left:13px;}
.fileBox .fileBtn label{display:inline-block;width:125px;font-size:14px;line-height:32px;letter-spacing:-1px;color:#fff;background:#999;text-align:center;}
.fileBox .fileBtn input[type="file"]{visibility:hidden;width:0;height:0;padding:0;margin:0;}


/* 웹폰트 정의 */

.sintony {font-family:'Sintony', sans-serif;}
.roboto {font-family:'Roboto Condensed', sans-serif;}


/* itemList */


.itemList2 > * {width:50%; float:left;}
.itemList3 > * {width:33.3333%;float:left;}
.itemList4 > * {width:25%;float:left;}
.itemList5 > * {width:20%;float:left;}
.itemList6 > * {width:16.6666%;float:left;}
.itemList7 > * {width:14.285%;float:left;}
.itemList8 > * {width:12.5%;float:left;}
.itemList9 > * {width:11.1111%;float:left;}
.itemList10 > * {width:10%;float:left;}


/* animated */

/* animated */

.animate [class*='ani-']{opacity:1; filter:alpha(opacity=100); -ms-filter:alpha(opacity=100); transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0);}
.fromLeft:not(.done) {opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); transform:translate3d(-50px, 0, 0); -webkit-transform:translate3d(-50px, 0, 0); -o-transform:translate3d(-50px, 0, 0); -ms-transform:translate3d(-50px, 0, 0);  -moz-transform:translate3d(-50px,0,0);}
.fromRight:not(.done) {opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); transform:translate3d(50px, 0, 0); -webkit-transform:translate3d(50px, 0, 0); -o-transform:translate3d(50px, 0, 0); -ms-transform:translate3d(50px, 0, 0); -moz-transform:translate3d(50px, 0, 0); }
.fromBottom:not(.done) {opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); transform:translate3d(0, 100px, 0); -webkit-transform:translate3d(0, 100px, 0); -o-transform:translate3d(0, 100px, 0); -ms-transform:translate3d(0, 100px, 0); -moz-transform:translate3d(0, 100px, 0);}
.fromTop:not(.done) {opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); transform:translate3d(0, -100px, 0); -webkit-transform:translate3d(0, -100px, 0); -o-transform:translate3d(0, -100px, 0); -ms-transform:translate3d(0, -100px, 0); -moz-transform:translate3d(0, -100px, 0); }
.fromCenter:not(.done) {opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); transform:scale(0.8) translate3d(0,0,0) ; -webkit-transform:scale(0.8) translate3d(0,0,0); -o-transform:scale(0.8) translate3d(0,0,0); -ms-transform:scale(0.8) translate3d(0,0,0); -moz-transform:scale(0.8) translate3d(0,0,0); }

.animate [class*='ani-'] {transition-property:transform, opacity; -webkit-transition-property:transform, opacity; transition-duration:0.8s; -webkit-transition-duration:0.8s; -o-transition-duration:.8s; -moz-transition-duration:.8s;   }
.animate.fast [class*='ani-'] {transition-duration:0.6s; -webkit-transition-duration:0.6s; -o-transition-duration:.6s; -moz-transition-duration:.6s;}
.animate.slow [class*='ani-'] {transition-duration:1s; -webkit-transition-duration:1s; -o-transition-duration:1s; -moz-transition-duration:1s;  }

.animate .ani-1 {transition-delay:10ms; -webkit-transition-delay:10ms; -o-transition-delay:10ms; -moz-transition-delay:10ms;}
.animate .ani-2 {transition-delay:160ms; -webkit-transition-delay:160ms; -o-transition-delay:160ms; -moz-transition-delay:160ms;}
.animate .ani-3 {transition-delay:320ms; -webkit-transition-delay:320ms; -o-transition-delay:320ms; -moz-transition-delay:320ms;}
.animate .ani-4 {transition-delay:480ms; -webkit-transition-delay:480ms; -o-transition-delay:480ms; -moz-transition-delay:480ms;}
.animate .ani-5 {transition-delay:640ms; -webkit-transition-delay:640ms; -o-transition-delay:640ms; -moz-transition-delay:640ms;}
.animate .ani-6 {transition-delay:800ms; -webkit-transition-delay:800ms; -o-transition-delay:800ms; -moz-transition-delay:800ms;}
.animate .ani-7 {transition-delay:960ms; -webkit-transition-delay:960ms; -o-transition-delay:960ms; -moz-transition-delay:960ms;}
.aniamte .ani-8 {transition-delay:1120ms; -webkit-transition-delay:1120ms; -o-transition-delay:1120ms; -moz-transition-delay:1120ms;}
.aniamte .ani-9 {transition-delay:1280ms; -webkit-transition-delay:1280ms; -o-transition-delay:1280ms; -moz-transition-delay:1280ms; }
.animate .ani-10 {transition-delay:1440ms; -webkit-transition-delay:1440ms; -o-transition-delay:1440ms; -moz-transition-delay:1440ms; }
.animate .ani-11 {transition-delay:1600ms; -webkit-transition-delay:1600ms; -o-transition-delay:1600ms; -moz-transition-delay:1600ms; }
.fast.animate .ani-1 {transition-delay: 10ms;-webkit-transition-delay: 10ms; -o-transition-delay:10ms; -moz-transition-delay:10ms;}
.fast.animate .ani-2 {transition-delay: 140ms;-webkit-transition-delay: 140ms; -o-transition-delay:140ms; -moz-transition-delay:140ms;}
.fast.animate .ani-3 {transition-delay: 270ms;-webkit-transition-delay: 270ms; -o-transition-delay:270ms; -moz-transition-delay:270ms;}
.fast.animate .ani-4 {transition-delay: 400ms;-webkit-transition-delay: 400ms;-o-transition-delay:400ms; -moz-transition-delay:400ms;}
.fast.animate .ani-5 {transition-delay: 530ms;-webkit-transition-delay: 530ms;-o-transition-delay:530ms; -moz-transition-delay:530ms;}
.fast.animate .ani-6 {transition-delay: 660ms;-webkit-transition-delay: 660ms;-o-transition-delay:660ms; -moz-transition-delay:660ms;}
.fast.animate .ani-7 {transition-delay: 790ms;-webkit-transition-delay: 790ms;-o-transition-delay:790ms; -moz-transition-delay:790ms;}
.fast.animate .ani-8 {transition-delay: 920ms;-webkit-transition-delay: 920ms;-o-transition-delay:920ms; -moz-transition-delay:920ms;}

.slow.animate .ani-1 {transition-delay: 10ms;	-webkit-transition-delay: 10ms;-o-transition-delay:10ms;-moz-transition-delay:10ms;}
.slow.animate .ani-2 {transition-delay: 210ms;-webkit-transition-delay: 210ms;-o-transition-delay:210ms; -moz-transition-delay:210ms;}
.slow.animate .ani-3 {transition-delay: 420ms;-webkit-transition-delay: 420ms;-o-transition-delay:420ms; -moz-transition-delay:420ms;}
.slow.animate .ani-4 {transition-delay: 630ms;-webkit-transition-delay: 630ms;-o-transition-delay:630ms; -moz-transition-delay:630ms;}
.slow.animate .ani-5 {transition-delay: 840ms;-webkit-transition-delay: 840ms;-o-transition-delay:840ms; -moz-transition-delay:840ms;}
.slow.animate .ani-6 {transition-delay: 1050ms;-webkit-transition-delay: 1050ms;-o-transition-delay:1050ms; -moz-transition-delay:1050ms;}
.slow.animate .ani-7 {transition-delay: 1260ms;-webkit-transition-delay: 1260ms;-o-transition-delay:1260ms; -moz-transition-delay:1260ms;}
.slow.animate .ani-8 {transition-delay: 1470ms;-webkit-transition-delay: 1470ms;-o-transition-delay:1470ms; -moz-transition-delay:1470ms;}

.scale [class*='sc-'] {transform:scale(1); -webkit-transform:scale(1); -o-transform:scale(1); -ms-transform:scale(1); -moz-transform:scale(1); transition-property:transform; -webkit-transition-property:transform; -o-transition-property:transform; -moz-transition-property:transform; transition-duration:0.8s; -webkit-transition-duration:0.8s; -o-transition-duration:0.8s; -moz-transition-duration:0.8s; }

.scale .fromSc9:not(.done) {transform:scale(0.9); -webkit-transform:scale(0.9); -o-transform:scale(0.9); -ms-transform:scale(0.9); -moz-transform:scale(0.9);}
.scale .fromSc8:not(.done) {transform:scale(0.8); -webkit-transform:scale(0.8); -o-transform:scale(0.8); -ms-transform:scale(0.8); -moz-transform:scale(0.8);}
.scale .fromSc7:not(.done) {transform:scale(0.7); -webkit-transform:scale(0.7); -o-transform:scale(0.7); -ms-transform:scale(0.7); -moz-transform:scale(0.7); }
.scale .fromSc6:not(.done) {transform:scale(0.6); -webkit-transform:scale(0.6); -o-transform:scale(0.6); -ms-transform:scale(0.6); -moz-transform:scale(0.6); }
.scale .fromSc5:not(.done) {transform:scale(0.5); -webkit-transform:scale(0.5); -o-transform:scale(0.5); -ms-transform:scale(0.5); -moz-transform:scale(0.5); }
.scale .fromSc11:not(.done) {transform:scale(1.1); -webkit-transform:scale(1.1); -o-transform:scale(1.1); -ms-transform:scale(1.1); -moz-transform:scale(1.1);}
.scale .fromSc12:not(.done) {transform:scale(1.2); -webkit-transform:scale(1.2); -o-transform:scale(1.2); -ms-transform:scale(1.2); -moz-transform:scale(1.2); }
.scale .fromSc13:not(.done) {transform:scale(1.3); -webkit-transform:scale(1.3); -o-transform:scale(1.3); -ms-transform:scale(1.3); -moz-transform:scale(1.3); }
.scale .fromSc14:not(.done) {transform:scale(1.4); -webkit-transform:scale(1.4); -o-transform:scale(1.4); -ms-transform:scale(1.4); -moz-transform:scale(1.4);}
.scale .fromSc15:not(.done) {transform:scale(1.5); -webkit-transform:scale(1.5); -o-transform:scale(1.5); -ms-transform:scale(1.5); -moz-transform:scale(1.5); }

.scale .sc-1 {transition-delay:10ms; -webkit-transition-delay:10ms; -o-transition-delay:10ms; -moz-transition-delay:10ms;}
.scale .sc-2 {transition-delay:160ms; -webkit-transition-delay:160ms; -o-transition-delay:160ms; -moz-transition-delay:160ms;}
.scale .sc-3 {transition-delay:320ms; -webkit-transition-delay:320ms; -o-transition-delay:320ms; -moz-transition-delay:320ms;}
.scale .sc-4 {transition-delay:480ms; -webkit-transition-delay:480ms; -o-transition-delay:480ms; -moz-transition-delay:480ms;}
.scale .sc-5 {transition-delay:640ms; -webkit-transition-delay:640ms; -o-transition-delay:640ms; -moz-transition-delay:640ms;}
.scale .sc-6 {transition-delay:800ms; -webkit-transition-delay:800ms; -o-transition-delay:800ms; -moz-transition-delay:800ms;}
.scale .sc-7 {transition-delay:960ms; -webkit-transition-delay:960ms; -o-transition-delay:960ms; -moz-transition-delay:960ms;}
.scale .sc-8 {transition-delay:1120ms; -webkit-transition-delay:1120ms; -o-transition-delay:1120ms; -moz-transition-delay:1120ms;}

.fast.scale .sc-1 {transition-delay: 10ms;-webkit-transition-delay: 10ms; -o-transition-delay:10ms; -moz-transition-delay:10ms;}
.fast.scale .sc-2 {transition-delay: 140ms;-webkit-transition-delay: 140ms; -o-transition-delay:140ms; -moz-transition-delay:140ms;}
.fast.scale .sc-3 {transition-delay: 270ms;-webkit-transition-delay: 270ms; -o-transition-delay:270ms; -moz-transition-delay:270ms;}
.fast.scale .sc-4 {transition-delay: 400ms;-webkit-transition-delay: 400ms;-o-transition-delay:400ms; -moz-transition-delay:400ms;}
.fast.scale .sc-5 {transition-delay: 530ms;-webkit-transition-delay: 530ms;-o-transition-delay:530ms; -moz-transition-delay:530ms;}
.fast.scale .sc-6 {transition-delay: 660ms;-webkit-transition-delay: 660ms;-o-transition-delay:660ms; -moz-transition-delay:660ms;}
.fast.scale .sc-7 {transition-delay: 790ms;-webkit-transition-delay: 790ms;-o-transition-delay:790ms; -moz-transition-delay:790ms;}
.fast.scale .sc-8 {transition-delay: 920ms;-webkit-transition-delay: 920ms;-o-transition-delay:920ms; -moz-transition-delay:920ms;}


.slow.scale .sc-1 {transition-delay: 10ms;	-webkit-transition-delay: 10ms;-o-transition-delay:10ms;-moz-transition-delay:10ms;}
.slow.scale .sc-2 {transition-delay: 210ms;-webkit-transition-delay: 210ms;-o-transition-delay:210ms; -moz-transition-delay:210ms;}
.slow.scale .sc-3 {transition-delay: 420ms;-webkit-transition-delay: 420ms;-o-transition-delay:420ms; -moz-transition-delay:420ms;}
.slow.scale .sc-4 {transition-delay: 630ms;-webkit-transition-delay: 630ms;-o-transition-delay:630ms; -moz-transition-delay:630ms;}
.slow.scale .sc-5 {transition-delay: 840ms;-webkit-transition-delay: 840ms;-o-transition-delay:840ms; -moz-transition-delay:840ms;}
.slow.scale .sc-6 {transition-delay: 1050ms;-webkit-transition-delay: 1050ms;-o-transition-delay:1050ms; -moz-transition-delay:1050ms;}
.slow.scale .sc-7 {transition-delay: 1260ms;-webkit-transition-delay: 1260ms;-o-transition-delay:1260ms; -moz-transition-delay:1260ms;}
.slow.scale .sc-8 {transition-delay: 1470ms;-webkit-transition-delay: 1470ms;-o-transition-delay:1470ms; -moz-transition-delay:1470ms;}


.txt_black {color:#000 !important;}
.txt_white {color:#fff !important;}
.fw300 {font-weight:300 !important;}
.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}

.point_txt {color:#44dfda !important;}

.vertical-i {animation:vb 1s infinite;}

@keyframes vb {
	0%{
		bottom: 0;
	}
	50% {
		bottom:10px;
	}
	100% {
		bottom:0px; 
	}
}

@keyframes vt{
	0%{
		top: 0;
	}
	50%{
		top:10px;
	}
	100%{
		top:0;
	}
}

/*
@media all and (max-width: 1100px) {
	#header .size .gnb .size{max-width: 590px;}

}	

@media(min-width:1024px){
	#header .size .gnb{display: none;}
	#header.on{height: 65px; }
	
	.menu_all .inner .in_size.pc{display: none;}
	.menu_all .inner .in_size.mo{display: block;}
	.menu_all .inner .all_close{position: relative; right: 20px; top: 10px;margin-top: 0;padding-top: 0; float: right; width: 55px; height: 60px; background-position: center center; background-size: 45%; text-indent: -99999px;}
	.menu_all .mgnb {padding-top: 70px;}
	.menu_all .mgnb .m_depth1 > li > a.on{border-bottom: 0;}
	.menu_all .mgnb .m_depth1 > li > a.on:after{background: url('/img/mo_menu_over.png') no-repeat center center; background-size: 35%;}
	.menu_all .mgnb .m_depth1 > li > a{border-bottom: 1px solid rgba(255,255,255,0.1); letter-spacing: 1px; display: block; position: relative; height: 55px; line-height: 55px;  color: #fff; font-size: 25px; 
	font-weight: 900; margin: 0 20px;font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase; box-sizing: border-box;}
	.menu_all .mgnb .m_depth1 > li > a:after{position: absolute; content: ''; background: url('/img/mo_menu.png') no-repeat center center; width: 55px; height: 55px; top: 0; right: 0; background-size: 35%;}
	.menu_all .mgnb .m_depth2{display: none; padding: 20px 0; box-sizing: border-box;}
	.menu_all .mgnb .m_depth2 > li > a{position: relative; display: block; color: #fff; height: 40px; line-height: 40px;padding: 0 20px 0 40px; box-sizing: border-box; color: #fff; font-size: 20px; font-weight:400; }
	.menu_all .mgnb .m_depth2 > li > a:before{width: 10px; height: 2px; background: #fff; position: absolute; left: 20px; content: ''; top: 50%; margin-top: -1px; }
	.menu_all .mgnb .com h1{margin: 0 20px; padding-top: 30px; padding-bottom: 20px; }
	.menu_all .mgnb .com .address > p{margin: 0 20px; }
	.menu_all .mgnb .com p{font-size: 20px; line-height: 27px; color: rgba(255,255,255,0.8); text-align: left; font-weight: 300;}
	.menu_all .mgnb .com .info{margin: 0 20px; padding: 25px 0; box-sizing: border-box;}
	.menu_all .mgnb .com .info b{font-weight: bold;}
	.menu_all .mgnb .com .sns a{display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center; }

	#footer .inner .size{text-align: center;}
	#footer .inner .size .info p span b{display: block; text-align: center;}
	#footer .inner .size .info p em.mbr{display: block;}
	#footer .inner .size .info.sns{position: relative; right: inherit; top: inherit; padding-top: 20px;}
	#footer .inner .size .info.sns .sns_wrap{text-align: center; padding-bottom: 0;}
	#footer .inner .size .info.sns .copy{text-align: center;}
	#footer .inner .size .info p span{color: rgba(38,40,44,0.8);}
	#footer .inner .size .info.sns .copy{color: rgba(38,40,44,0.5);}
	#footer .inner .size .info.sns .copy br{display: none;}
	#header .size .logo{position: relative; float: left;}
	#header .size .all_menu{float: right; position: relative;}
	#header .size .logo a{width: 155px; height: 25px;}
	#header .size .all_menu a{width: 25px; height: 25px;}
	#header{padding: 20px;}



}
@media(max-width:960px){

	

}

*/