@charset "utf-8";

/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}

.gnb li a {transition:all .4s ease; -webkit-transition:all .4s ease; -ms-transition:all .4s ease; -moz-transition:all .4s ease; -o-transition:all .4s ease;}

input[type=button] {cursor:pointer !important;}
.cp{cursor:pointer !important;}

.wid10{width:10%;}
.wid20{width:20%;}
.wid30{width:30%;}
.wid40{width:40%;}
.wid50{width:50%;}
.wid60{width:60%;}
.wid70{width:70%;}
.wid80{width:80%;}
.wid90{width:90%;}
.wid100 {width:100%;}

.max100 {max-width:100px;}
.max150 {max-width:150px;}
.max200 {max-width:200px;}
.max250 {max-width:250px;}
.max300 {max-width:300px;}
.max350 {max-width:350px;}
.max400 {max-width:400px;}
.max450 {max-width:450px;}
.max500 {max-width:500px;}
.max550 {max-width:550px;}
.max600 {max-width:600px;}
.max650 {max-width:650px;}
.max700 {max-width:700px;}
.max750 {max-width:750px;}
.max800 {max-width:800px;}
.max850 {max-width:850px;}
.max900 {max-width:900px;}
.max950 {max-width:950px;}
.max1000 {max-width:1000px;}

.mt0 {margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}

.mb0 {margin-bottom:0px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}

.ml0 {margin-left:0px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}

.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}

.auto {margin-left:auto !important; margin-right:auto !important;}
.bno{border:none !important;}
.blind{position:absolute; top:-999999px; width:0; height:0; font-size:0; overflow:hidden;}
.clear:after {clear:both;content:'';display:block;}
.hidden {text-indent:-9999px; width:0px; height:0px; line-height:0px; font-size:0px; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); overflow:hidden; visibility:hidden;}

.fl_l{float:left !important;}
.fl_r{float:right !important;}
.txt_l{text-align:center !important; word-break: keep-all;}
.txt_c{text-align:center !important;}
.txt_r{text-align:right !important;}
.ver_t{vertical-align:top !important;}
.txt_b{font-weight:bold !important;}
.txt_ul{text-decoration:underline !important;}

.wbreak{word-break:break-all !important;}

.tb {display:table; width:100%; height:100%; }
.tbc {display:table-cell; vertical-align:middle; width:100%; }
/* Position */

.Abs {position:absolute;}
.Fix {position:fixed;}
.Abs_lt {position:absolute; top:0; left:0;}
.Abs_rt {position:absolute; top:0; right:0; }
.Abs_lb {position:absolute; bottom:0; left:0; }
.Abs_rb {position:absolute; bottom:0; right:0; }
.Abs_cc {position:absolute; left:50%; top:50%; }
.Abs_lc {position:absolute; left:0; top:50%;}
.Abs_rc {position:absolute; right:0; top:50%; }
.Fix_lt {position:fixed; top:0; left:0; }
.Fix_rt {position:fixed; top:0; right:0; }
.Fix_lb {position:fixed; bottom:0; left:0; }
.Fix_rb {position:fixed; bottom:0; right:0; }
.Fix_cc {position:fixed; left:50%; top:50%; }
.Fix_lc {position:fixed; left:0; top:50%;}
.Fix_rc {position:fixed; right:0; top:50%; }


/* Font */

.ft12 {font-size:12px !important;}
.ft13 {font-size:13px !important;}
.ft14 {font-size:14px !important;}
.ft15 {font-size:15px !important;}
.ft16 {font-size:16px !important;}
.ft17 {font-size:17px !important;}
.ft18 {font-size:18px !important;}
.ft19 {font-size:19px !important;}
.ft20 {font-size:20px !important;}
.ft21 {font-size:21px !important;}
.ft22 {font-size:22px !important;}
.ft23 {font-size:23px !important;}
.ft24 {font-size:24px !important;}
.ft25 {font-size:25px !important;}
.ft26 {font-size:26px !important;}
.ft27 {font-size:27px !important;}
.ft28 {font-size:28px !important;}
.ft29 {font-size:29px !important;}
.ft30 {font-size:30px !important;}
.ft31 {font-size:31px !important;}
.ft32 {font-size:32px !important;}
.ft65 {font-size:65px !important; letter-spacing:-4px; line-height:60px;}

/* 체크박스 */
.Custom_chk { position:relative;}
.Custom_chk input[type="checkbox"]{display:none;}
.Custom_chk label {display:inline-block; position:relative; padding-left:25px; cursor:pointer; color:#353839;}
.Custom_chk label:before {position:absolute; left:0; top:0; font-size:14px; color:#353839; width:20px; height:20px; line-height:19px; border:1px solid #d1d1d1; clear:both; content:''; display:block; box-sizing:border-box;}
.Custom_chk input[type="checkbox"]:checked + label:before {content:'\2714';}

/* 라디오 버튼 */
.radio_box label{font-size:14px;color:#666}
.radio_box label + label{margin:0 0 0 24px;}

/* 체크 박스 */
.check_box label{font-size:14px;color:#666}
.check_box label + label{margin:0 0 0 24px;}

/* input type="file"*/
.fileBox{overflow:hidden;}
.fileBox .inputBox{float:left;}
.fileBox input[type="text"]{float:left;overflow:hidden;box-sizing:border-box;height:32px;padding:8px 10px;border:1px solid #d1d1d1;font-size:14px;line-height:1;letter-spacing:-1px;color:#999;background:#fafafa;}
.fileBox .fileBtn{float:left;margin-left:13px;}
.fileBox .fileBtn label{display:inline-block;width:125px;font-size:14px;line-height:32px;letter-spacing:-1px;color:#fff;background:#999;text-align:center;}
.fileBox .fileBtn input[type="file"]{visibility:hidden;width:0;height:0;padding:0;margin:0;}

/* 웹폰트 정의 */
.sintony {font-family:'Sintony', sans-serif;}
.roboto {font-family:'Roboto Condensed', sans-serif;}


/* itemList */
.itemList2 > * {width:50%; float:left;}
.itemList3 > * {width:33.3333%;float:left;}
.itemList4 > * {width:25%;float:left;}
.itemList5 > * {width:20%;float:left;}
.itemList6 > * {width:16.6666%;float:left;}
.itemList7 > * {width:14.285%;float:left;}
.itemList8 > * {width:12.5%;float:left;}
.itemList9 > * {width:11.1111%;float:left;}
.itemList10 > * {width:10%;float:left;}

.txt_black {color:#000 !important;}
.txt_white {color:#fff !important;}
.fw300 {font-weight:300 !important;}
.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}

.point_txt {color:#44dfda !important;}
.vertical-i {animation:vb 1s infinite;}

